/* Accommodation Card */
.accommodation-card {
    transition: all 0.3s ease;
    border-radius: 1.2rem;
}

.accommodation-card:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15) !important;
}

.accommodation-image {
    height: 25rem;
    overflow: hidden;
}

.accommodation-image img {
    transition: transform 0.3s ease;
}

.accommodation-card:hover .accommodation-image img {
    transform: scale(1.05);
}

.accommodation-name {
    font-size: 2rem;
    color: var(--primary-color);
}

.accommodation-price {
    font-size: 1.8rem;
    color: var(--secondary-color);
    white-space: nowrap;
}

.price-period {
    font-size: 1.3rem;
}

.accommodation-description {
    font-size: 1.4rem;
    line-height: 1.6;
}